.projects_section {
	padding: 5rem 2rem 5rem 2rem;
	margin: 5rem 0 5rem 0;
}

.projects_deck {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 1.5rem;
	row-gap: 1.5rem;
}

.project_card {
	display: flex;
	row-gap: 0;
	column-gap: 0;
	padding: 0.5em;
	width: 100%;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.project-img {
	float: left;
	min-height: auto;
	width: 100%;
	object-fit: scale-down;
	padding: 1em;
}

.project_details {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 1em;
	width: 100%;
}

.project-description a {
	font-weight: bold;
}

.project-description a:hover {
	cursor: pointer;
}

.project_details p {
	flex: 1 0 auto;
}

@media all and (min-width: 40em) {
	.project_card {
		width: 45%;
	}
}
